/* CUSTOM FONT */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* COMMON STYLE */
body{
    font-family: 'work sans';
    margin: 0;
}
.container{
    width: 80%;
    margin: auto;
}
.description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.btn-primary{
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px;
    border: none;
    background: #FF900E;
    border-radius: 8px;
    margin-bottom: 50px;
    margin-top: 30px;
}

/* NAV START HERE */
header{
    background: rgba(255, 144, 14, 0.1);;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.logo-text{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin: 0;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
/* NAV END HERE */

/* BANNER START HERE */
.banner{
    text-align: center;
}
.banner-title{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}
.banner-photo{
    width: 100%;
    margin-bottom: 20px;
}
/* BANNER END HERE */

/* MAIN AREA START HERE */
/* TEAM SECTION STYLE */
.team{
    display: flex;
    margin-top: 85px;
    gap: 73px;
    align-items: center;
    justify-content: center;
}
.team-photos{
    display: grid;
    gap: 24px 34px;
    grid-template-columns: repeat(2, 1fr);
}
.team-photos img{
    width: 300px;
    height: 300px;
    border-radius: 8px;
}
.team-header{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}
.team-header .dark-color{
    color: #131313;
}
.team-header .orange-color{
    color: #FF900E;
}
/* FEATURES SECTION STYLE */
.features{
    display: flex;
    margin-top: 130px;
    gap: 100px;
}
.features-content h2{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.features-heading{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-item{
    width: 514px;
    height: 111px;
    padding: 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.feature-item-heading{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}
.feature-description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.feature-photo{
    position: relative;
}
.feature-photo img{
    width: 450px;
    height: 700px;
    border-radius: 8px;
}
.experience{
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
    background: #FF900E;
    border-radius: 8px;
    height: 100px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: -70px;

}
.experience h3{
    font-weight: 700;
    font-size: 35px;
    margin: 0;
}
.experience p{
    font-weight: 500;
    font-size: 16px;
}

/* PROJECT AREA */
.project{
    text-align: center;
    margin-top: 130px;
}
.project-heading{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.project-photos{
    display: flex;
    margin-top: 50px;
}
.project-photos img{
    width: 300px;
    height: 600px;
}
.project-photos img:hover{
    transform: scale(1.02);
}}
/* FACT SECTION */
.facts{
    margin-top: 130px;
}
.facts-heading{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.fact-items{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    gap: 40px;
}
.fact-item{
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 25px 35px;
}
.fact-item:hover{
    background: #eee;
}
.fact-item h3{
    color: #424242;
    font-weight: 600;
    font-size: 35px;
    margin: 0;
}
.fact-item p{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    margin-top: 10px;
}
/* SUPONSPORS SECTION */
.suponspors{
    margin-top: 200px;
    text-align: center;
}
.suponspors-heading{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.suponspors-logo{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.suponspors-logo img{
    filter: grayscale(100%);
}
.suponspors-logo img:hover{
    filter: grayscale(0);
}
/* MAIN AREA START END */

/* FOOTER AREA START */
footer{
    text-align: center;
    margin-top: 150px !important;
    background: #FFF4E7;
    border-radius: 8px;
    padding: 20px;
}
.footer-text{
    font-weight: 400;
    font-size: 18px;
}
/* FOOTER AREA END */


/* MOBILE RESPONSIVE */
@media screen and (max-width: 576px) {
    /* HEADER AREA */
    nav{
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
    .logo-text{
        text-align: center;
    }
    ul{
        flex-direction: column;
        row-gap: 20px;
        padding: 0;
        text-align: center;
    }
    nav ul li{
        margin: 0;
    }
    /* MAIN AREA */
    /* TEAM SSECTION */
    .team{
        flex-direction: column;
        text-align: center;
    }
    .team-photos{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    /* FETURES SECTION */
    .features{
        flex-direction: column;
    }
    .feature-item{
        width: 100%;
        padding: 10px;
    }
    .feature-photo img{
        width: 100%;
        height: auto;
    }
    /* FACT SECTION */
    .fact-items{
        flex-direction: column;
    }
    /* SUPONSPORS SECTION */
    .suponspors-logo{
        flex-direction: column;
    }

}
